<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
        "-//Hibernate/Hibernate Configuration DTD 4.0//EN" 
        "http://hibernate.sourceforge.net/hibernate-configuration-4.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/movies</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root_user</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">2</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<mapping class="org.hibernatedemo.abhishek.dto.UserDetails" />
		<mapping class="org.hibernatedemo.abhishek.dto.Movie" />
		<mapping class="org.hibernatedemo.abhishek.dto.Awards" />
		<mapping class="org.hibernatedemo.abhishek.dto.PremiereDetails" />
		<mapping class="org.hibernatedemo.abhishek.dto.Agent" />
		<mapping class="org.hibernatedemo.abhishek.dto.Artist" />
		<mapping class="org.hibernatedemo.abhishek.dto.VanityVan" />
		<mapping class="org.hibernatedemo.abhishek.dto.DistributionMedium" />
		<mapping class="org.hibernatedemo.abhishek.dto.TheatreDistribution" />
		<mapping class="org.hibernatedemo.abhishek.dto.OnlineDistribution" />
		<mapping class="org.hibernatedemo.abhishek.dto.Vehicle" />
		<mapping class="org.hibernatedemo.abhishek.dto.TwoWheeler" />
		<mapping class="org.hibernatedemo.abhishek.dto.FourWheeler" />

	</session-factory>
</hibernate-configuration>
